.newsletter {
	padding: 0.625rem;
	width: 100%;

	.newsletter__title {
		font-size: 0.875rem;
		font-weight: 700;
		line-height: 1.125rem;
		margin-bottom: 1.25rem;
		text-align: center;
	}

	.newsletter__fields {
		margin: -0.625rem -0.625rem 0.625rem;
	}

	.newsletter__field {
		padding: 0.625rem;
	}

	.newsletter__input {
		@include box-shadow(inset 0rem 0rem 0rem 1px color('gainsboro'));
		color: color('dark-gray');
		font-size: 0.875rem;
		height: 2.5rem;
		line-height: 1.125rem;
		padding: 0.6875rem 0.9375rem;
		width: 100%;
	}

	.newsletter__list {
		margin-bottom: 1.25rem;
	}

	.newsletter__item {
		color: color('dark-gray');
		font-size: 0.875rem;
		line-height: 1.125rem;
	}

	.newsletter__button {
		background-color: color('black');
		color: color('white');
		font-size: 1rem;
		font-weight: 600;
		height: 2.5rem;
		line-height: 1.1875rem;
		padding: 0.65625rem 0.9375rem;
		text-align: center;
		@include transition(background-color variable('transition'));
		width: 100%;

		&:hover {
			background-color: color('rodeo-dust');
		}
	}
}

@include breakpoint('tablet') {
	.newsletter {
		.newsletter__fields {
			@include flex(row, center, center, wrap);
		}

		.newsletter__field {
			&.newsletter__field--small {
				width: 50%;
			}

			&.newsletter__field--large {
				width: 100%;
			}
		}
	}
}

@include breakpoint('laptop') {
	.newsletter {
		padding: 0.9375rem;
		width: 40%;

		.newsletter__title {
			text-align: left;
		}

		.newsletter__fields {
			margin: -0.625rem -0.9375rem 0.625rem;
		}

		.newsletter__field {
			padding: 0.625rem 0.9375rem;
		}
	}
}

@include breakpoint('desktop') {
	.newsletter {
		width: 33.33333%;
	}
}
