@import 'Fonts';

$breakpoints: ();

@import 'Breakpoints';

$colors: (
	'dark-gray':   #ABABAB,
	'eclipse':     #3A3A3A,
	'gainsboro':   #DBDBDB,
	'mortar':      #5A5A5A,
	'nero':        #292929,
	'night-rider': #2E2E2E,
	'rodeo-dust':  #C4A37B,
);

@import 'Colors';

$variables: (
	'elevator':   1s,
	'transition': 0.25s,
);

@import
	'Variables',
	'Functions',
	'Prefixes',
	'Flex',
	'Reset';

@include html {
	@include montserrat;
};

$elements: (
	'article', 'aside', 'body', 'div', 'figure', 'footer', 'h3', 'li', 'main', 'nav', 'section', 'ul',
	'button', 'form', 'input', 'label',
	'a', 'span',
	'img', 'g', 'path', 'svg',
);

@include reset($elements);

@include selection {
	background-color: rgba(color('rodeo-dust'), 0.5);
	color: color('nero');
	text-shadow: none;
};

@include prefix(('notation': 'img::', 'selector': 'selection')) {
	background-color: rgba(color('rodeo-dust'), 0.5);
};

@include prefix(('notation': 'svg::', 'selector': 'selection')) {
	background-color: rgba(color('rodeo-dust'), 0.5);
};

@include body;

@include app;

@include main;

@import
	'Modules',

	'Partials/Articles',
	'Partials/Elevator',
	'Partials/Footer',
	'Partials/Features',
	'Partials/Newsletter';
