$breakpoints: ();

@import 'Breakpoints';

$colors: (
	'dark-gray':   #ABABAB,
	'eclipse':     #3A3A3A,
	'gainsboro':   #DBDBDB,
	'mortar':      #5A5A5A,
	'nero':        #292929,
	'night-rider': #2E2E2E,
	'rodeo-dust':  #C4A37B,
);

@import 'Colors';

$variables: (
	'transition': 0.25s,
);

@import
	'Variables',
	'Functions',
	'Prefixes',
	'Flex',
	'Reset';

@include html;

$elements: (
	'article', 'body', 'div', 'figure', 'h3', 'img', 'main', 'section',
	'a', 'span',
	'path', 'svg',
);

@include reset($elements);

@include body;

@include app;

@include main;

@import
	'Modules',

	'Partials/Articles',
	'Partials/Features';
