<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="initial-scale=1,width=device-width" name="viewport">

		{% set title = 'Oander – front/>' %}
		<title>{{ title }}</title>
	</head>

	<body class="body">
		<div class="app">
			<main class="main">
				{% block layout %}
				{% endblock %}
			</main>
		</div>
	</body>
</html>
