<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="initial-scale=1,width=device-width" name="viewport">

		{% set title = 'Oander – front/>' %}
		<title>{{ title }}</title>

		<link as="script" href="app.js{{ cache }}" rel="preload">

		<link href="app.css{{ cache }}" rel="stylesheet">
	</head>

	<body class="body">
		<div class="app">
			<main class="main">
				{% block layout %}
				{% endblock %}
			</main>

			<aside class="elevator">
				<button class="elevator__button" title="Back to top" type="button">
					{% include 'Icons/Angle.twig' with { 'block': 'elevator', 'title': 'Back to top' } only %}
				</button>
			</aside>
		</div>
	</body>
</html>
